[Unit]
Description=Checkra1n-Linux Autostart webra1n
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/use/bin/checkra1n -w localhost 8081
Restart=always

[Install]
WantedBy=multi-user.target